# python versus R
## simple data analysis, wrangling, and plotting
Below is python summary (available at https://github.com/berndtlindner/R_and_python/blob/master/data-science/data-science_python_summary.ipynb)
For those interrested, more elaborate explanation is available at  may be found at https://github.com/berndtlindner/R_and_python/blob/master/data-science/data-science_python_detail.ipynb 

R equivalent code in data-science_R_summary notebook in same folder

In [10]:
import pandas as pd
gapminder_data = pd.read_csv("https://raw.githubusercontent.com/berndtlindner/R_and_python/master/data/gapminder_lifeExp_gdp.csv")
gapminder_data.head()

   Unnamed: 0      country continent  year  lifeExp       pop   gdpPercap
0           1  Afghanistan      Asia  1952   28.801   8425333  779.445314
1           2  Afghanistan      Asia  1957   30.332   9240934  820.853030
2           3  Afghanistan      Asia  1962   31.997  10267083  853.100710
3           4  Afghanistan      Asia  1967   34.020  11537966  836.197138
4           5  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [11]:
continent_color = pd.DataFrame({ 'continent': ['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'],
                                'color': ['red', 'blue', 'green', 'purple', 'pink']})

In [12]:
#already imported pandas (as pd)

    color continent
0     red      Asia
1    blue    Europe
2   green    Africa
3  purple  Americas
4    pink   Oceania