# python versus R
## simple data analysis, wrangling, and plotting
Below is python summary (available at https://github.com/berndtlindner/R_and_python/blob/master/data-science/data-science_python_summary.ipynb)
For those interrested, more elaborate explanation is available at  may be found at https://github.com/berndtlindner/R_and_python/blob/master/data-science/data-science_python_detail.ipynb 

R equivalent code in data-science_R_summary notebook in same folder

In [2]:
import pandas as pd
gapminder_data = pd.read_csv("https://raw.githubusercontent.com/berndtlindner/R_and_python/master/data/gapminder_lifeExp_gdp.csv")
gapminder_data.head()

   Unnamed: 0      country continent  year  lifeExp       pop   gdpPercap
0           1  Afghanistan      Asia  1952   28.801   8425333  779.445314
1           2  Afghanistan      Asia  1957   30.332   9240934  820.853030
2           3  Afghanistan      Asia  1962   31.997  10267083  853.100710
3           4  Afghanistan      Asia  1967   34.020  11537966  836.197138
4           5  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [3]:
continent_color = pd.DataFrame({ 'continent': ['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'],
                                'color': ['red', 'blue', 'green', 'purple', 'pink']})

In [8]:
pd.merge(gapminder_data, continent_color)

,Unnamed: 0,country,continent,year,lifeExp,pop,gdpPercap,color
0,1,Afghanistan,Asia,1952,28.801,8425333,779.445314,red
1,2,Afghanistan,Asia,1957,30.332,9240934,820.853030,red
2,3,Afghanistan,Asia,1962,31.997,10267083,853.100710,red
3,4,Afghanistan,Asia,1967,34.020,11537966,836.197138,red
4,5,Afghanistan,Asia,1972,36.088,13079460,739.981106,red
5,6,Afghanistan,Asia,1977,38.438,14880372,786.113360,red
6,7,Afghanistan,Asia,1982,39.854,12881816,978.011439,red
7,8,Afghanistan,Asia,1987,40.822,13867957,852.395945,red
8,9,Afghanistan,Asia,1992,41.674,16317921,649.341395,red
9,10,Afghanistan,Asia,1997,41.763,22227415,635.341351,red
10,11,Afghanistan,Asia,2002,42.129,25268405,726.734055,red
11,12,Afghanistan,Asia,2007,43.828,31889923,974.580338,red
12,85,Bahrain,Asia,1952,50.939,120447,9867.084765,red
13,86,Bahrain,Asia,1957,53.832,138655,11635.799450,red
14,87,Bahrain,Asia,1962,56.923,171863,12753.275140,red
15,88,Bahrain,Asia,1967,59.923,202182,14804.672700,red
16,89,Bahrain,Asia,1972,63.300,230800,18268.658390,red
17,90,Bahrain,Asia,1977,65.593,297410,19340.101960,red
18,91,Bahrain,Asia,1982,69.052,377967,19211.147310,red
19,92,Bahrain,Asia,1987,70.750,454612,18524.024060,red
20,93,Bahrain,Asia,1992,72.601,529491,19035.579170,red
21,94,Bahrain,Asia,1997,73.925,598561,20292.016790,red
22,95,Bahrain,Asia,2002,74.795,656397,23403.559270,red
23,96,Bahrain,Asia,2007,75.635,708573,29796.048340,red
24,97,Bangladesh,Asia,1952,37.484,46886859,684.244172,red
25,98,Bangladesh,Asia,1957,39.348,51365468,661.637458,red
26,99,Bangladesh,Asia,1962,41.216,56839289,686.341554,red
27,100,Bangladesh,Asia,1967,43.453,62821884,721.186086,red
28,101,Bangladesh,Asia,1972,45.252,70759295,630.233627,red
29,102,Bangladesh,Asia,1977,46.923,80428306,659.877232,red
...,...,...,...,...,...,...,...,...
1674,1639,Venezuela,Americas,1982,68.557,15620766,11152.410110,purple
1675,1640,Venezuela,Americas,1987,70.190,17910182,9883.584648,purple
1676,1641,Venezuela,Americas,1992,71.150,20265563,10733.926310,purple
1677,1642,Venezuela,Americas,1997,72.146,22374398,10165.495180,purple
1678,1643,Venezuela,Americas,2002,72.766,24287670,8605.047831,purple
1679,1644,Venezuela,Americas,2007,73.747,26084662,11415.805690,purple
1680,61,Australia,Oceania,1952,69.120,8691212,10039.595640,pink
1681,62,Australia,Oceania,1957,70.330,9712569,10949.649590,pink
1682,63,Australia,Oceania,1962,70.930,10794968,12217.226860,pink
1683,64,Australia,Oceania,1967,71.100,11872264,14526.124650,pink
1684,65,Australia,Oceania,1972,71.930,13177000,16788.629480,pink
1685,66,Australia,Oceania,1977,73.490,14074100,18334.197510,pink
1686,67,Australia,Oceania,1982,74.740,15184200,19477.009280,pink
1687,68,Australia,Oceania,1987,76.320,16257249,21888.889030,pink
1688,69,Australia,Oceania,1992,77.560,17481977,23424.766830,pink
1689,70,Australia,Oceania,1997,78.830,18565243,26997.936570,pink
1690,71,Australia,Oceania,2002,80.370,19546792,30687.754730,pink
1691,72,Australia,Oceania,2007,81.235,20434176,34435.367440,pink
1692,1093,New Zealand,Oceania,1952,69.390,1994794,10556.575660,pink
1693,1094,New Zealand,Oceania,1957,70.260,2229407,12247.395320,pink
1694,1095,New Zealand,Oceania,1962,71.240,2488550,13175.678000,pink
1695,1096,New Zealand,Oceania,1967,71.520,2728150,14463.918930,pink
1696,1097,New Zealand,Oceania,1972,71.890,2929100,16046.037280,pink
1697,1098,New Zealand,Oceania,1977,72.220,3164900,16233.717700,pink
1698,1099,New Zealand,Oceania,1982,73.840,3210650,17632.410400,pink
1699,1100,New Zealand,Oceania,1987,74.320,3317166,19007.191290,pink
1700,1101,New Zealand,Oceania,1992,76.330,3437674,18363.324940,pink
1701,1102,New Zealand,Oceania,1997,77.550,3676187,21050.413770,pink
1702,1103,New Zealand,Oceania,2002,79.110,3908037,23189.801350,pink
1703,1104,New Zealand,Oceania,2007,80.204,4115771,25185.009110,pink

In [9]:
gapminder_data.groupby(['continent', 'year'])
    [['lifeExp']]
    .mean()
#gapminder_data.merge(continent_color)

IndentationError: unexpected indent (<ipython-input-9-16d8fc6fca77>, line 2)