# python versus R
## simple data analysis, wrangling, and plotting
Below is python summary (available at https://github.com/berndtlindner/R_and_python/blob/master/data-science/data-science_python_summary.ipynb)
For those interrested, more elaborate explanation is available at  may be found at https://github.com/berndtlindner/R_and_python/blob/master/data-science/data-science_python_detail.ipynb 

R equivalent code in data-science_R_summary notebook in same folder

In [4]:
import pandas as pd
gapminder_data = pd.read_csv("https://raw.githubusercontent.com/berndtlindner/R_and_python/master/data/gapminder_lifeExp_gdp.csv")
gapminder_data.head()

   Unnamed: 0      country continent  year  lifeExp       pop   gdpPercap
0           1  Afghanistan      Asia  1952   28.801   8425333  779.445314
1           2  Afghanistan      Asia  1957   30.332   9240934  820.853030
2           3  Afghanistan      Asia  1962   31.997  10267083  853.100710
3           4  Afghanistan      Asia  1967   34.020  11537966  836.197138
4           5  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [11]:
continent_color = pd.DataFrame({ 'continent': ['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'],
                                'color': ['red', 'blue', 'green', 'purple', 'pink']})

Python/pandas has made attempts to mimic R's pipe `%>%` operator but with not much success (see http://nbviewer.jupyter.org/gist/TomAugspurger/6e052140eaa5fdb6e8c0#Chaining)
So below wrangling is done line by line in python/pandas.

In [32]:
data = gapminder_data.groupby(['continent', 'year'], as_index=False).agg({'lifeExp': 'mean'})
data = pd.merge(data, continent_color, on ='continent', how='left') #left join the colors for the continents
data.head()

  continent  year    lifeExp  color
0    Africa  1952  39.135500  green
1    Africa  1957  41.266346  green
2    Africa  1962  43.319442  green
3    Africa  1967  45.334538  green
4    Africa  1972  47.450942  green

Python can equivalently be used to do some simple linear regression with the `scipy` package
(taken from https://warwick.ac.uk/fac/sci/moac/people/students/peter_cock/python/lin_reg/)

In [35]:
from scipy import stats
stats.linregress(data['year'],data['lifeExp'])

LinregressResult(slope=0.3085014252302476, intercept=-546.7147983489472, rvalue=0.4975652773621511, pvalue=5.238463343943105e-05, stderr=0.07061969151680043)